<h1>New project</h1>

<div class="project-form">
  <%= form_with(model: @project, local: true) do |form| %>
  <div class="error-explanation">
    <% if @project.errors.any? %>
      <h2><%= pluralize(@project.errors.count, "error") %>prohibited project from saving</h2>
      <ul>
        <% @project.errors.full_messages do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :description %>
      <%= form.text_field :description %>
    </div>
      <%= form.submit "create project"%>
  <% end %>
</div>
