<div class="project-name">
  <%= @project.name %>
</div>
<div class="project-description">
  <%= @project.description %>
</div>

<div class="edit-project">
  <%= link_to "Edit project", edit_project_path %>
</div>

<div class="delete-project">
  <%= link_to "Delete Project", project_path, :method => :delete %>
</div>
<div class="">
  <%= link_to "back", projects_path %>
</div>
