<div class="project-name">
  <%= @project.name %>
</div>
<div class="project-description">
  <%= @project.description %>
</div>

<div class="edit-project">
  <%= link_to "Edit project", edit_project_path %>
</div>

<div class="delete-project">
  <%= link_to "Delete Project", project_path, :method => :delete %>
</div>
<div class="">
  <%= link_to "back", projects_path %>
</div>

<!-- tickets -->
<header>
  <h2>Tickets</h2>

  <ul class="actions">
    <li><%= link_to "New Ticket", new_project_ticket_path(@project) %></li>
  </ul>
</header>
